Source: shuttleevent
Section: video
Priority: optional
Maintainer: Pascal de Bruijn <pmjdebruijn@pcode.nl>
Build-Depends: libx11-dev, libxtst-dev
Standards-Version: 4.1.1
Homepage: https://github.com/pmjdebruijn/shuttleevent

Package: shuttleevent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Contour Shuttle Event Service
 - Contour Design ShuttlePRO v2
 - Contour Design ShuttleXpress
 - CAVS SpaceShuttle A/V
